<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/images/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site created by Rotem Sade. It uses data from mapbox.com and darksky.net!</p>
            <img class="portrait" src="/images/0.jpeg">
        </div>
        {{>footer}}
    </body>
</html>